.navbar {
  background: $foreground-color;
  height: $navbar-height;
  padding: 1.5rem 0 1.5rem 0;
  @include depth(1);

  #notificationDropdown {
    width: 260px;
    padding: 1.5rem;
    height: 280px;
    right: 15px;
  }

  #menu-icon-dropdown {
    width: 240px;
    padding: 1.5rem;
    height: 290px;
  }

  .menu-list-item {
    width: 90px;
    display: inline-block;
    text-align: center;
    margin-bottom: 1.7rem;
    color: lighten($primary-color, 20%);

    i {
      font-size: 32px;
      line-height: 42px;
    }

    span {
      text-align: center;
      padding: 0 10px;
      line-height: 14px;
    }

    &:hover,
    &:focus {
      color: $theme-color-1;
    }
  }

  .hamburger-button-mobile {
    color: $secondary-color;
    text-align: center;

    svg {
      height: 12px;
      fill: $primary-color;
    }

    margin-left: $main-margin-xs;

    @include respond-below(sm) {
      width: 20px;
    }
  }

  .hamburger-button {
    color: $secondary-color;
    width: 50px;
    text-align: center;

    svg {
      height: 12px;
    }

    .main {
      fill: $primary-color;
      transition: fill $menu-collapse-time;
    }

    .sub {
      fill: $primary-color;
      transition: fill $menu-collapse-time;
    }

    &:hover {
      color: $theme-color-1;
    }

    @include respond-below(sm) {
      width: 60px;
    }
  }

  .navigation-bar-left {
    flex-basis: 40%;
    text-align: right;

    .main-logo-wrapper {
      padding-left: $main-margin;

      @include respond-below(xl) {
        padding-left: $main-margin-lg;
      }

      @include respond-below(lg) {
        padding-left: $main-margin-md;
      }

      @include respond-below(sm) {
        padding-left: $main-margin-xs;
      }
    }
  }

  .navigation-bar-right {
    flex-basis: 40%;
    text-align: right;

    .agent {
      padding-right: $main-margin;

      @include respond-below(xl) {
        padding-right: $main-margin-lg;
      }

      @include respond-below(lg) {
        padding-right: $main-margin-md;
      }

      @include respond-below(sm) {
        padding-right: $main-margin-xs;
      }
    }
  }

  .main-logo {
    .logo {
      width: 110px;
      height: 35px;
      background-position: center center;
      margin: 0 auto;
      background-color: #313048;

      @include respond-below(sm) {
        width: 80px;
      }
    }

    .logo-mobile {
      width: 50%;
      //height: 100%;
      background-position: center center;
      background-color: #313048;
      svg{
        width: 100%;
        height: 100%;
      }
    }
  }

  .search-form {
    position: relative;
    width: $sub-menu-width;
    border-radius: 20px;
    background: $background-color;

    input {
      border: initial;
      background: transparent;
      outline: initial !important;
      padding: 0.5rem 1rem;
      line-height: 2;
      font-size: 0.8rem;
      width: 93%;
      color: $primary-color;
    }

    .search-icon {
      font-size: 17px;
      border-radius: 10px;
      color: $separator-color;
      position: absolute;
      width: 40px;
      height: 40px;
      bottom: -6px;
      right: 3px;
      text-align: center;
      cursor: pointer;

      &:hover {
        color: $theme-color-1;
      }
    }

    @include respond-below(md) {
      width: $sub-menu-width/2;

      input {
        width: 85%;
      }
    }

    @include respond-below(sm) {
      width: 30px;
      height: 30px;
      background: initial;
      margin-left: 0.6rem;
      color: lighten($primary-color, 30%);

      input {
        display: none;
      }

      .search-icon {
        font-size: 17px;
        width: 30px;
        height: 30px;
        bottom: -3px;
        right: 0;
        color: inherit;
      }

      &.mobile-view {
        display: block;
        width: 100%;
        position: fixed;
        z-index: 2;
        background: $foreground-color;
        left: 0;
        top: 0;
        height: $navbar-height-xs;
        margin-left: 15px;

        input {
          display: block;
          width: 100%;
          height: 70px;
          padding-left: 0;
        }

        span {
          top: 50%;
          transform: translateY(-50%);
          right: 25px;
        }
      }
    }
  }

  .menu-item-icons {
    margin-right: 0.5rem;

    @include respond-below(xs) {
      margin-right: 0;
    }
  }

  .menu-item-icon {
    font-size: 16px;
    color: $secondary-color;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    vertical-align: initial;

    @include respond-below(xs) {
      padding-left: 0.3rem;
      padding-right: 0.3rem;
    }

    &:hover {
      color: $theme-color-1;
    }

    //
    //&#fullScreenButton i:last-of-type {
    //  display: none;
    //}

    &#notification-toggle {
      .notification-count-int {
        font-size: 9px;
        color: $theme-color-1;
        border: 1px solid $theme-color-1;
        border-radius: 10px;
        position: absolute;
        width: 18px;
        height: 15px;
        text-align: center;
        font-weight: 700;
        top: 2px;
        right: 2px;
        line-height: 14px;

        @include respond-below(xs) {
          right: -1px;
        }
      }
    }
  }

  .agent {
    color: lighten($primary-color, 30%);
    position: relative;

    img {
      margin-left: 10px;
      border-radius: 30px;
      width: 40px;
    }

    @include respond-below(md) {
      .name {
        display: none;
      }
    }

    @include respond-below(sm) {
      img {
        width: 30px;
      }

      margin-left: initial;

      &:after {
        font-size: 11px;
        width: 14px;
        height: 14px;
        bottom: -3px;
        right: -3px;
      }
    }
  }

  @include respond-below(xl) {
    height: $navbar-height-lg;
  }

  @include respond-below(lg) {
    height: $navbar-height-md;
    // padding: 1.5rem $main-margin-md 1.5rem 0;
  }

  @include respond-below(sm) {
    height: $navbar-height-xs;
    // padding: $main-margin-xs;
  }
}

body {
  &.sub-menu-is-hide
  .hamburger-button,
  &.menu-sub-menu-hidden
  .hamburger-button {
    .sub {
      fill: $secondary-color;
    }
  }

  &.main-is-hide
  .hamburger-button,
  &.menu-hidden
  .hamburger-button {

    .main,
    .sub {
      fill: $secondary-color;
    }
  }
}