.ticket-detail-wrapper {
  .ticket-row {

    .ticket-header {
      .title {
        h2 {
          margin-bottom: 0 !important;
        }
      }

      .date {
        text-align: right;
        overflow: hidden !important;
        white-space: nowrap;
        @include respond-below(md) {
          text-align: initial;
        }
      }

    }


    .ticket-header-receiver {
      padding-bottom: 5px;
      margin-top: 0.5rem;
    }

    .ticket-description {
      margin-top: 20px;
    }


    .response {
      > .fa {
        display: none;
        @include respond-below(xs) {
          position: absolute;
          font-size: 17px;
          left: 15px;
          top: 15px;
          z-index: 100;
          display: block;
        }

      }

      .ticket-header {
        padding-bottom: 5px;
        margin-top: -10px !important;
        margin-bottom: -10px !important;

      }

      .type {
        @include respond-below(xs) {
          display: none;
        }

        span {
          font-size: 20px;
        }
      }

      .agent {
        text-align: right;
        @include respond-below(xxs) {
        }

        .agent-name {
          margin-bottom: 5px;

          img {
            width: 25px;
            height: 25px;
            border-radius: 30px;
            vertical-align: middle;
            margin-right: 5px;
            @include respond-below(xxs) {
              margin-right: 3px;
            }
          }

          span {
          }
        }

        .send-date {
          white-space: nowrap;

          .prefix, .suffix {
            @include respond-below(xxs) {
              display: none;
            }
          }
        }
      }


      .ticket-description {

        > div {
        }
      }
    }

    .ticket-mail-history {
      font-size: 0.85rem;
      margin-top: 10px;

      > div {
        padding-left: 10px;
      }

      .card {
        box-shadow: none;
      }

      .card-header {
        padding: 0;
        width: 25%;

        .fa {
          vertical-align: middle;
          font-size: 0.8rem;
        }

        button {
          padding-left: 15px;

          .fa {
            font-size: 0.7rem;
            width: 8px !important;
            vertical-align: initial;
            margin-right: 3px;
          }

          &:not(.collapsed) {
            .fa-chevron-down {
              display: inline-block;
            }

            .fa-chevron-right {
              display: none;
            }
          }

          &.collapsed {
            .fa-chevron-down {
              display: none;
            }

            .fa-chevron-right {
              display: inline-block;
            }
          }
        }


      }

      .card-body {
        padding: 15px;
      }
    }


    .ticket-attachments {
      font-size: 0.85rem;

      > .files-list {
        padding-left: 5px !important;
      }

      .file-attachment {
        display: inline-flex;
        margin: 10px;
        padding: 10px;

        a {
          display: inline-flex;
        }

        .fa {
          margin: auto 0;
          margin-right: 10px;
          font-size: 1.1rem;
        }

        .action {
          border-left-width: 1px;
          border-left-style: solid;
          border-left-color: #d7d7d7;
          padding-left: 10px;
          margin-left: 10px;

          &:hover {
            .filesize {
              text-decoration: initial;
              color: $theme-color-1 !important;
            }
          }

          .fa {
            font-size: 0.7rem;
          }

          .filesize {
            margin-bottom: -2.5px;
          }
        }

      }
    }


  }
}

.ticket-meta {
  .card-body {
    @include respond-below(lg-md) {
      padding: 1rem !important;
    }
  }
}

form.card-body {
  width: 100%;

  .wrapper {
    margin-top: 30px;
    margin-bottom: 20px;

    &:first-child {
      margin-top: 0;
      margin-bottom: 0;
    }

    &.border-bottom {
      margin-bottom: 40px;
    }

    .company-text {
      display: grid;

      span:first-child {
        display: inherit;
        position: relative;
        top: -10px;
        font-size: 0.7rem;
      }

      span:last-child {
        bottom: 8px;
        position: relative;
      }
    }


    &.tags {
      .select2 {
        margin-top: 10px;
      }

    }

    &.confirmed_effort {
      label {
        width: auto;
        margin-bottom: 0;
      }

      input {
        //width: 80%;
      }
    }

    &.submit {
      text-align: center;

      button {
        width: 125px;
      }
    }

  }
}



.hidden {
  display: none !important;
}

.margin-auto {
  margin: auto auto;
}



